<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>
    <link rel="stylesheet" href="/static/admin/layui/css/layui.css">
    <link rel="stylesheet" href="/static/admin/css/style.css">
    <style>
        html,body{
            height: 100%;
        }
        body{
            display: flex;
            justify-content: center;
            align-items: center;
            background-image: url("/static/admin/image/login_bg.png");
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="login-div">
    <h1>登录</h1>
    <form id="login-form" action="http://127.0.0.1:2029/index.php/admin/login/login" method="post">
        <div class="login-form-item">
            <input name="username" placeholder="用户名">
        </div>
        <div class="login-form-item">
            <input name="password" type="password" placeholder="密码">
        </div>
        <button class="btn-login" type="submit">登录</button>
    </form>
</div>
</body>
</html>
<script src="/static/admin/js/jquery.min.js"></script>
<script src="/static/admin/layui/layui.all.js"></script>
<script src="/static/admin/js/common.js"></script>
<script>

    layuiModules=['layer','form'];
    /*
    function mounted(){
        $('#login-form').submit(function () {
            return true;
        })
    }*/

</script>